[submodule "extensions/sd-webui-controlnet"]
	path = extensions/sd-webui-controlnet
	url = https://github.com/Mikubill/sd-webui-controlnet.git
[submodule "extensions/sd-webui-reactor"]
	path = extensions/sd-webui-reactor
	url = https://github.com/Gourieff/sd-webui-reactor.git
[submodule "extensions/ControlNet"]
	path = extensions/ControlNet
	url = https://github.com/lllyasviel/ControlNet.git
